#version: '3.8'

services:
  angular-frontend:
   image: olx-login-angular-frontendimage
   #build:
     #context: ./advertisement
   container_name: angular-frontendContainer
   ports:
    - "4200:80"
   depends_on:
    - springboot-app
   restart: always
   networks:
     - app-network 
  mysql:
    image: mysql:8.0
    environment:
      MYSQL_DATABASE: olx_login
      MYSQL_ROOT_PASSWORD: 786786786
    ports:
      - "3307:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    networks:
      - app-network

  mongodb:
    image: mongo:6.0
    ports:
      - "27017:27017"
    volumes:
      - mongodb_data:/data/db
    networks:
      - app-network

  springboot-app:
    image: olx-login-image
    ports:
     - "8089:8089"  # This maps container port 8080 to host port 8080
    env_file:
      - .env.docker

    depends_on:
      - mysql
      - mongodb
    networks:
      - app-network

volumes:
  mysql_data:
  mongodb_data:

networks:
  app-network:
    driver: bridge