server:
  port: 8089
  servlet:
    session:
      timeout: 30m
      cookie:
        max-age: 30m

spring:
  application:
    name: OLX-LOGIN
  mail:
    host: smtp.gmail.com
    port: 587
    username: ${MAIL_USERNAME}
    password: ${MAIL_PASSWORD}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
  datasource:
    url: ${SPRING_DATASOURCE_URL}
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: ${MYSQL_USERNAME}
    password: ${MYSQL_PASSWORD}
  jpa:
    hibernate.ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
  data:
    mongodb:
      host: mongodb
      port: 27017
      database: olx_login
#  security:
#    oauth2:
#      client:
#        registration:
#          google: 
#            redirect-uri: ${redirect-uri}
#            client-id: ${oauth2_client_id}
#            client-secret: ${oauth2_client_secret}
          #redirect-url: localhost:8082/login/oauth2/code/google.
  thymeleaf:
     prefix: classpath:/templates/
     suffix: .html
     enabled: true

management:
  endpoints:
    web:
      base-path: /olxloginActuator
      exposure:
        include:
          - "*"
  endpoint:
    health:
      enabled: true
      show-details: always
    shutdown:
      enabled: true
    env:
      enabled: true
      show-values: ALWAYS
  server:
    port: 8088

logging:
  level:
    root: warn
    org:
      springframework:
        security: DEBUG

springdoc:
  api-docs:
    enabled: true
  swagger-ui:
    enabled: true

frontend-url: http://localhost:4200/resetpassword
