<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
xmlns:context="http://www.springframework.org/schema/context"
xsi:schemaLocation="http://www.springframework.org/schema/beans 
http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context-4.3.xsd">


<!--  
<bean id="item_1" class="com.example.training.javatraining.springcore.Item">
	<property name="name" value="Laptop" />
	<property name="price" value="2200.0" />
</bean>

<bean id="order_1" class="com.example.training.javatraining.springcore.Order">
	<property name="item" ref="item_1" />
	<property name="title" value="Purchase Laptops" />
</bean>
<bean id="item_2" class="com.example.training.javatraining.springcore.Item">
	<property name="name" value="Books" />
	<property name="price" value="5000.0" />
</bean>

<bean id="order_2" class="com.example.training.javatraining.springcore.Order">
	<property name="item" ref="item_2" />
	<property name="title" value="Purchase Books" />
</bean>
-->
<bean id="test" class="com.olx.user.Test">
<property name="name" value="Habibulla" />
</bean>
</beans>